/* Navigation */
.first-page .navbar .navbar-left,
.first-page .navbar .navbar-right  {
  display: flex;
}

.first-page .navbar {
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
}

.first-page ul,
.first-page .logo {
  justify-self: center;
}

.first-page .navbar-side-sticky ul li a {
  padding: 0.50rem;
}